@model SearchViewModel

@{
    ViewData["Title"] = "Detailed Search";
}

<h1>Detailed Search</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="DisplaySearchResults" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SearchCity" class="control-label"></label>
                <input asp-for="SearchCity" class="form-control" />
                <span asp-validation-for="SearchCity" class="text-danger"></span>
            </div>

            <br />
            <div class="form-group">
                <label asp-for="SearchState" class="control-label">State:</label>
                <select asp-for="SearchState" asp-items="ViewBag.StateList" class="form-control">
                    <option value="">-- Select a State --</option>
                </select>
                <span asp-validation-for="SearchState" class="text-danger"></span>
            </div>

            <br />


            <div class="form-group">
            <label asp-for="SearchGuestRating" class="control-label"></label>
            <input asp-for="SearchGuestRating" type="number" step="0.1" class="form-control" />
            <span asp-validation-for="SearchGuestRating" class="text-danger"></span>
            </div>


            <div class="form-group">
                <br />
                <input type="radio" class="radio" asp-for="FilterGuestRating" value="@Filter.GreaterThan" checked="checked" />&nbsp; Greater Than<br />
                <input type="radio" class="radio" asp-for="FilterGuestRating" value="@Filter.LessThan" />&nbsp; Less Than<br />
            </div>





            <br />
            <div class="form-group">
                <label asp-for="SearchWeekdayPrice" class="control-label"></label>
                <input asp-for="SearchWeekdayPrice" type="number" step="0.1" class="form-control" />
                <span asp-validation-for="SearchWeekdayPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <br />
                <input type="radio" class="radio" asp-for="FilterWeekdayPrice" value="@Filter.GreaterThan" checked="checked" />&nbsp; Greater Than<br />
                <input type="radio" class="radio" asp-for="FilterWeekdayPrice" value="@Filter.LessThan" />&nbsp; Less Than<br />
            </div>

            <br />
            <div class="form-group">
                <label asp-for="SearchWeekendPrice" class="control-label"></label>
                <input asp-for="SearchWeekendPrice" type="number" step="0.1" class="form-control" />
                <span asp-validation-for="SearchWeekendPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <br />
                <input type="radio" class="radio" asp-for="FilterWeekendPrice" value="@Filter.GreaterThan" checked="checked" />&nbsp; Greater Than<br />
                <input type="radio" class="radio" asp-for="FilterWeekendPrice" value="@Filter.LessThan" />&nbsp; Less Than<br />
            </div>

            <br />
            <div class="form-group">
                <label asp-for="SelectedCategory" class="control-label">Category</label>
                <select asp-for="SelectedCategory" asp-items="ViewBag.AllCategories" class="form-control">
                    <option value="">-- Select a Category --</option>
                </select>
            </div>

            <br />
            <div class="form-group">
                <label asp-for="SearchGuests" class="control-label"></label>
                <input asp-for="SearchGuests" type="number" step="1" class="form-control" />
                <span asp-validation-for="SearchGuests" class="text-danger"></span>
            </div>

            <br />
            <div class="form-group">
                <label asp-for="SearchBedrooms" class="control-label"></label>
                <input asp-for="SearchBedrooms" type="number" step="1" class="form-control" />
                <span asp-validation-for="SearchBedrooms" class="text-danger"></span>
            </div>

            <br />
            <div class="form-group">
                <label asp-for="SearchBathrooms" class="control-label"></label>
                <input asp-for="SearchBathrooms" type="number" step="1" class="form-control" />
                <span asp-validation-for="SearchBathrooms" class="text-danger"></span>
            </div>

            <br />
            <!-- Pets Allowed Checkbox -->
            <label class="form-check-label">
                <input class="form-check-input" asp-for="SearchPetsAllowed" />
                @Html.DisplayNameFor(model => model.SearchPetsAllowed)
            </label>

            <br />
            <label class="form-check-label">
                <input class="form-check-input" asp-for="SearchFreeParking" />
                @Html.DisplayNameFor(model => model.SearchFreeParking)
            </label>
            <div class="form-group">
                <label asp-for="SearchCheckInDate"></label>
                <input asp-for="SearchCheckInDate" class="form-control" type="date" />
                <span asp-validation-for="SearchCheckInDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="SearchCheckOutDate"></label>
                <input asp-for="SearchCheckOutDate" class="form-control" type="date" />
                <span asp-validation-for="SearchCheckOutDate" class="text-danger"></span>
            </div>

            <br />


            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

