@model Group7FinalProject.Models.Property

@{
    ViewData["Title"] = "Details";
}

<div class="details-container">
    <h4 class="details-title">Property Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-4 detail-header">
            @Html.DisplayNameFor(model => model.PropertyNumber)
        </dt>
        <dd class="col-sm-8 detail-value">
            @Html.DisplayFor(model => model.PropertyNumber)
        </dd>
        <dt class="col-sm-4 detail-header">
            Address
        </dt>
        <dd class="col-sm-8 detail-value">
            @($"{Model.Address}, {Model.City}, {Model.State} {Model.ZipCode}")
        </dd>
        <dt class="col-sm-4 detail-header">
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>
        <dd class="col-sm-8 detail-value">
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
        <dt class="col-sm-4 detail-header">
            @Html.DisplayNameFor(model => model.NumOfBedrooms)
        </dt>
        <dd class="col-sm-8 detail-value">
            @Html.DisplayFor(model => model.NumOfBedrooms)
        </dd>
        <dt class="col-sm-4 detail-header">
            @Html.DisplayNameFor(model => model.NumOfBathrooms)
        </dt>
        <dd class="col-sm-8 detail-value">
            @Html.DisplayFor(model => model.NumOfBathrooms)
        </dd>
        <dt class="col-sm-4 detail-header">
            @Html.DisplayNameFor(model => model.GuestsAllowed)
        </dt>
        <dd class="col-sm-8 detail-value">
            @Html.DisplayFor(model => model.GuestsAllowed)
        </dd>
        <dt class="col-sm-4 detail-header">
            @Html.DisplayNameFor(model => model.WeekdayPrice)
        </dt>
        <dd class="col-sm-8 detail-value">
            @Html.DisplayFor(model => model.WeekdayPrice)
        </dd>
        <dt class="col-sm-4 detail-header">
            @Html.DisplayNameFor(model => model.WeekendPrice)
        </dt>
        <dd class="col-sm-8 detail-value">
            @Html.DisplayFor(model => model.WeekendPrice)
        </dd>
        <dt class="col-sm-4 detail-header">
            @Html.DisplayNameFor(model => model.CleaningFee)
        </dt>
        <dd class="col-sm-8 detail-value">
            @Html.DisplayFor(model => model.CleaningFee)
        </dd>
        <dt class="col-sm-4 detail-header">
            @Html.DisplayNameFor(model => model.DiscountRate)
        </dt>
        <dd class="col-sm-8 detail-value">
            @Html.DisplayFor(model => model.DiscountRate)
        </dd>
        <dt class="col-sm-4 detail-header">
            @Html.DisplayNameFor(model => model.MinNightsForDiscount)
        </dt>
        <dd class="col-sm-8 detail-value">
            @Html.DisplayFor(model => model.MinNightsForDiscount)
        </dd>
        <dt class="col-sm-4 detail-header">
            @Html.DisplayNameFor(model => model.PetFriendly)
        </dt>
        <dd class="col-sm-8 detail-value">
            <input type="checkbox" class="custom-checkbox" disabled @(Model.PetFriendly ? "checked" : "") />
        </dd>
        <dt class="col-sm-4 detail-header">
            @Html.DisplayNameFor(model => model.HasParking)
        </dt>
        <dd class="col-sm-8 detail-value">
            <input type="checkbox" class="custom-checkbox" disabled @(Model.HasParking ? "checked" : "") />
        </dd>
        <dt class="col-sm-4 detail-header">
            @Html.DisplayNameFor(model => model.PropertyStatus)
        </dt>
        <dd class="col-sm-8 detail-value">
            @Html.DisplayFor(model => model.PropertyStatus)
        </dd>
    </dl>

    
    <table class="table table-primary">
        <tr>
            <th>Rating</th>
            <th>Review</th>
        </tr>

        @if (Model.Reviews.Any() && ViewBag.AverageRating != 0)
        {
            @foreach (var rd in Model.Reviews.Where(rd => rd.DisputeStatus != DisputeStatus.ValidDispute && rd.DisputeStatus != DisputeStatus.Disputed))
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => rd.Rating)</td>
                    <td>@Html.DisplayFor(modelItem => rd.ReviewText)</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="2" class="text-center">No reviews available.</td>
            </tr>
        }
    </table>
    


    @if (ViewBag.AverageRating != null && (decimal)ViewBag.AverageRating != 0)
    {
        <h3 class="details-average-rating">Average Rating: @Math.Round((decimal)ViewBag.AverageRating, 1)</h3>
    }
    else
    {
        <h3 class="details-average-rating">Average Rating: No Rating Available</h3>
    }


    <table class="table table-primary">
        <tr>
            <th>Confirmation Number</th>
            <th>Check In</th>
            <th>Check Out</th>
            <th>Guests</th>
            <th>Total Price</th>
            <th>Status</th>
        </tr>
        @foreach (Reservation res in Model.Reservations)
        {
            <tr>
                <td>@Html.DisplayFor(ModelItem => res.ConfirmationNumber)</td>
                <td>@Html.DisplayFor(ModelItem => res.CheckIn)</td>
                <td>@Html.DisplayFor(ModelItem => res.CheckOut)</td>
                <td>@Html.DisplayFor(ModelItem => res.NumOfGuests)</td>
                <td>@Html.DisplayFor(ModelItem => res.TotalPrice)</td>
                <td>@Html.DisplayFor(ModelItem => res.ReservationStatus)</td>

            </tr>
        }
    </table>

</div>


<div class="details-buttons">
    <a asp-action="Create" asp-controller="Reservations" asp-route-propertyID="@Model.PropertyID" class="btn btn-warning">Make a Reservation</a>
    @if (User.Identity.IsAuthenticated && User.IsInRole("Host"))
    {
        <a asp-action="Edit" asp-route-id="@Model?.PropertyID" class="btn btn-primary">Edit</a>
        <a asp-action="Create" asp-controller="Unavailabilities" asp-route-propertyID="@Model.PropertyID" class="btn btn-warning">Create Unavailabilities</a>
    }
    

    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
