@model IEnumerable<Group7FinalProject.Models.Property>
<link href="~/css/site.css" rel="stylesheet" />

@{
    ViewData["Title"] = "Index";
}

<h1>BevoBnB</h1>

@if (User.Identity.IsAuthenticated && User.IsInRole("Host"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<form asp-action="DetailedSearch" asp-controller="Properties" method="get">
    <button type="submit" class="btn btn-success">Detailed Search</button>
</form>

<p>Displaying @ViewBag.FilteredProperties out of @ViewBag.TotalProperties Properties</p>

<table class="table">
    <thead>
        <tr>
            <th class="address-column">Property Address</th>
            @if (User.Identity.IsAuthenticated && User.IsInRole("Host"))
            {
                <th>@Html.DisplayNameFor(model => model.PropertyNumber)</th>
            }
            <th>@Html.DisplayNameFor(model => model.NumOfBedrooms)</th>
            <th>@Html.DisplayNameFor(model => model.NumOfBathrooms)</th>
            <th>@Html.DisplayNameFor(model => model.GuestsAllowed)</th>
            <th>@Html.DisplayNameFor(model => model.PetFriendly)</th>
            <th>@Html.DisplayNameFor(model => model.HasParking)</th>
            <th>Category</th>
            <th>Average Rating</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="address-column">
                    @($"{item.Address}, {item.City}, {item.State} {item.ZipCode}")
                </td>
                @if (User.Identity.IsAuthenticated && User.IsInRole("Host"))
                {
                    <td>@Html.DisplayFor(modelItem => item.PropertyNumber)</td>
                }
                <td>@Html.DisplayFor(modelItem => item.NumOfBedrooms)</td>
                <td>@Html.DisplayFor(modelItem => item.NumOfBathrooms)</td>
                <td>@Html.DisplayFor(modelItem => item.GuestsAllowed)</td>
                <td>@Html.DisplayFor(modelItem => item.PetFriendly)</td>
                <td>@Html.DisplayFor(modelItem => item.HasParking)</td>
                <td>@item.Category?.CategoryName</td>
                <td>
                    @if (item.Reviews.Any())
                    {
                        @(item.Reviews.Average(r => r.Rating).ToString("F2"))
                    }
                    else
                    {
                        <span>N/A</span>
                    }
                </td>

                <td>
                    <a asp-action="Details" asp-route-id="@item.PropertyID">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
