@model Group7FinalProject.Models.Reservation

@{
    ViewData["Title"] = "Reservation Details";
}

<h1>Reservation Details</h1>

<!-- Table to display reservation details -->
<table class="table">
    <thead>
        <tr>
            <th>Property</th>
            <th>Check-In Date</th>
            <th>Check-Out Date</th>
            <th>Number of Guests</th>
            <th>Weekday Total</th>
            <th>Weekend Total</th>
            <th>Discount Amount</th>
            <th>Stay Price</th>
            <th>Cleaning Fee</th>
            <th>Subtotal</th>
            <th>Tax</th>
            <th>Total Price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Property?.PropertyNumber</td>
            <td>@Model.CheckIn.ToShortDateString()</td>
            <td>@Model.CheckOut.ToShortDateString()</td>
            <td>@Model.NumOfGuests</td>
            <td>@Model.WeekdayTotal.ToString("C")</td>
            <td>@Model.WeekendTotal.ToString("C")</td>
            <td>@Model.DiscountAmount.ToString("C")</td>
            <td>@Model.StayPrice.ToString("C")</td>
            <td>@Model.CleaningFee.ToString("C")</td>
            <td>@Model.SubTotal.ToString("C")</td>
            <td>@Model.Tax.ToString("C")</td>
            <td>@Model.TotalPrice.ToString("C")</td>
        </tr>
    </tbody>
</table>

<table class="table table-primary">
    <tr>
        <th>Property Address</th>
        <th>Beds</th>
        <th>Bathrooms</th>
        <th>Guests Allowed</th>
        <th>Pet Friendly</th>
        <th>Parking Available</th>
    </tr>
    <tr>
        <td>@($"{Model.Property.Address}, {Model.Property.City}, {Model.Property.State} {Model.Property.ZipCode}")</td>
        <td>@Html.DisplayFor(ModelItem => Model.Property.NumOfBedrooms)</td>
        <td>@Html.DisplayFor(ModelItem => Model.Property.NumOfBathrooms)</td>
        <td>@Html.DisplayFor(ModelItem => Model.Property.GuestsAllowed)</td>
        <td>@Html.DisplayFor(ModelItem => Model.Property.PetFriendly)</td>
        <td>@Html.DisplayFor(ModelItem => Model.Property.HasParking)</td>
    </tr>
</table>

<div>
    <!-- Conditionally show the Cancel button if the reservation is valid -->
    @if (Model.ReservationStatus == ReservationStatus.Valid && Model.CheckIn > DateTime.Now)
    {
        <a asp-action="CancelReservation" asp-route-id="@Model.ReservationID" class="btn btn-danger">Cancel</a>
    }

    @if (User.Identity.IsAuthenticated && User.IsInRole("Customer"))
    {
        <a asp-controller="Reviews" asp-action="Create" asp-route-propertyId="@Model.Property.PropertyID" class="btn btn-primary">
            Write Review
        </a>
    }

    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
