@model IEnumerable<Group7FinalProject.Models.Reservation>

@{
    ViewData["Title"] = "Index";
}

<h1>Reservations</h1>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().ConfirmationNumber)</th>
            @if (User.Identity.IsAuthenticated && User.IsInRole("Host"))
            {
                <th>@Html.DisplayNameFor(model => model.First().Property.PropertyNumber)</th>
            }
            <th>@Html.DisplayNameFor(model => model.First().CheckIn)</th>
            <th>@Html.DisplayNameFor(model => model.First().CheckOut)</th>
            <th>@Html.DisplayNameFor(model => model.First().NumOfGuests)</th>
            <th>@Html.DisplayNameFor(model => model.First().WeekdayPrice)</th>
            <th>@Html.DisplayNameFor(model => model.First().WeekendPrice)</th>
            <th>@Html.DisplayNameFor(model => model.First().CleaningFee)</th>
            <th>@Html.DisplayNameFor(model => model.First().DiscountRate)</th>
            <th>@Html.DisplayNameFor(model => model.First().ReservationStatus)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.ConfirmationNumber)</td>
                @if (User.Identity.IsAuthenticated && User.IsInRole("Host"))
                {
                    <td>@(item.Property != null ? Html.DisplayFor(modelItem => item.Property.PropertyNumber) : "N/A")</td>
                }
                <td>@Html.DisplayFor(modelItem => item.CheckIn)</td>
                <td>@Html.DisplayFor(modelItem => item.CheckOut)</td>
                <td>@Html.DisplayFor(modelItem => item.NumOfGuests)</td>
                <td>@Html.DisplayFor(modelItem => item.WeekdayPrice)</td>
                <td>@Html.DisplayFor(modelItem => item.WeekendPrice)</td>
                <td>@Html.DisplayFor(modelItem => item.CleaningFee)</td>
                <td>@Html.DisplayFor(modelItem => item.DiscountRate)</td>
                <td>@Html.DisplayFor(modelItem => item.ReservationStatus)</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ReservationID">Details</a>
                    @if (item.ReservationStatus == ReservationStatus.Valid)
                    {
                        <a asp-action="CancelReservation" asp-route-id="@item.ReservationID">| Cancel</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
