@model IEnumerable<Group7FinalProject.Models.Property>
<link href="~/css/site.css" rel="stylesheet" />

@{
    ViewData["Title"] = "Index";
}

<div class="page-header">
    <h1>BevoBnB</h1>
</div>

<div class="search-container">
    <form asp-action="DetailedSearch" asp-controller="Properties" method="get">
        <button type="submit" class="btn detailed-search-btn">Detailed Search</button>
    </form>
    <p>Displaying @ViewBag.FilteredProperties out of @ViewBag.TotalProperties Properties</p>
</div>

<div class="table-container">
    <table class="table">
        <thead>
            <tr>
                <th>Property Address</th>
                @if (User.Identity.IsAuthenticated && User.IsInRole("Host"))
                {
                    <th>@Html.DisplayNameFor(model => model.PropertyNumber)</th>
                }
                <th>@Html.DisplayNameFor(model => model.NumOfBedrooms) <i class="fa-solid fa-bed"></i></th>
                <th>@Html.DisplayNameFor(model => model.NumOfBathrooms) <i class="fa-solid fa-toilet"></i></th>
                <th>@Html.DisplayNameFor(model => model.GuestsAllowed) <i class="fa-solid fa-users"></i></th>
                <th>@Html.DisplayNameFor(model => model.PetFriendly) <i class="fa-solid fa-dog"></i></th>
                <th>@Html.DisplayNameFor(model => model.HasParking) <i class="fa-solid fa-square-parking"></i></th>
                <th>Category <i class="fa-solid fa-list"></i></th>
                <th>Average Rating <i class="fa-solid fa-star"></i></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @($"{item.Address}, {item.City}, {item.State} {item.ZipCode}")
                    </td>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Host"))
                    {
                        <td>@Html.DisplayFor(modelItem => item.PropertyNumber)</td>
                    }
                    <td>@Html.DisplayFor(modelItem => item.NumOfBedrooms)</td>
                    <td>@Html.DisplayFor(modelItem => item.NumOfBathrooms)</td>
                    <td>@Html.DisplayFor(modelItem => item.GuestsAllowed)</td>
                    <td>
                        <input type="checkbox" class="custom-checkbox" disabled @(item.PetFriendly ? "checked" : "") />
                    </td>
                    <td>
                        <input type="checkbox" class="custom-checkbox" disabled @(item.HasParking ? "checked" : "") />
                    </td>
                    <td>@item.Category?.CategoryName</td>
                    <td>
                        @if (item.Reviews.Any())
                        {
                            @(item.Reviews.Average(r => r.Rating).ToString("F2"))
                        }
                        else
                        {
                            <span>N/A</span>
                        }
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.PropertyID" class="details-link">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>